.albums {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 50px;
}

.albums img {    
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.albums .album .name {   
    text-align: center;  
    margin-top: 10px;
}


h1 {
    text-align: left;
}

h2 {
    text-align: center;
    margin-bottom: 50px;
}


@media (max-width: 768px) {

    .albums {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    h2 {
        font-size: 30px;
    }

    .albums img {    
        width: 500px;
        height: 500px;
    }

    .albums .album .name {   
        font-size: 30px;
    }
}